.benefits {
    background-color: #fff;
    &__wrp {
        height: 500px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 20px;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        height: 500px;
        border: 3px solid rgb(121, 119, 235);
        border-radius: 25px;
        background-color: #fff;
    }
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        transition: 0.1s all;
        &:hover {
            width: 85px;
            height: 85px;
                
        }
        img {
            
            max-width: 70%; 
            max-height: 70%;
            cursor: pointer;
        }
    }

    &__img-active {
        background-color: rgb(121, 119, 235);
        border-radius: 5px;
        
    }

    &__l-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 80%;
        text-align: center;
        border: 3px solid rgb(121, 119, 235);;
        border-radius: 25px;
        background-color: #fff;
    }

    &__tabcontent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        img {
            max-width: 150px;
            max-height: 150px;
        }
    }
    

    &__item {
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        height: 200px;
        width: 200px;
        background-color: #fff;
    }
    h4 {
        color: rgb(90, 53, 224);
        font-size: 30px;
        padding-bottom: 30px;
    }
}