.benefits {
    background-color: #fff;
    &__wrp {
        height: 500px;
        display: flex;
        justify-content: space-between;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100px;
        height: 500px;
        border: 3px solid rgba(70, 88, 192, 0.15);
        border-radius: 25px;
        background-color: #fff;
    }
    &__box {
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 60px;
        transition: 0.1s all;
        &:hover {
            width: 75px;
            height: 75px;
                
        }
        img {
            max-width: 90%; 
            max-height: 90%;
            cursor: pointer;
        }
    }

    &__img-active {
        background-color: rgb(121, 119, 235);
        border-radius: 10px;
        
    }

    &__l-box {
        height: 500px;
        width: 1000px;
        text-align: center;
        border: -5px solid rgba(70, 88, 192, 0.15);
        border-radius: 25px;
        background-color: #fff;
    }

    &__tabcontent {
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 300px;
        img {
            max-width: 150px;
            max-height: 150px;
        }
    }
    

    &__item {
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        height: 200px;
        width: 200px;
        background-color: #fff;
    }
    h4 {
        color: rgb(90, 53, 224);
        font-size: 30px;
        margin-top: 20px;
    }
}