.scroll-up {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    img {
        width: 100%;
    }
    &__animated {
        animation-name: up-arrow;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-iteration-count: 2;
        &:hover {
            animation-play-state: paused;
        }
    }

}



