.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,.7) ;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 386px;
    min-height: 300px;
    background-color: rgb(113, 119, 155);
    padding: 38px 40px 38px 40px;
    border-radius: 10px;

    &__close {
        position: absolute;
        top: 0;
        right: -45px;
        font-size: 65px;
        line-height: 23px;
        font-size: 50px;
        color: red;
        cursor: pointer;
    }

    &__subtitle {
        color: white;
        font-size: 19px;
        font-weight: bold;
        text-align: center;
    }

    &__descr {
        color: white;
        font-size:15px;
        font-weight: 500;
        text-align: center;
        margin: 10px 0 10px 0;
    }
}

#consult, #success {
    display: none;
}
    