.footer {
    &__wrapper {
        display: flex;
        position: relative;
    }
    &__descr {
        width: 600px;
    }
    h2 {
        text-align: center;
        padding-top: 90px;
        font-size: 45px;
        color: #1a73e8;
    }
    h3 {
        text-align: center;
        margin-top: 50px;
        color: #1a73e8;
    }
    h4 {
        text-align: center;
        margin-top: 22px;
        color: #1a73e8;
    }
    &__info {
        position: absolute;
        top: 10px;
        right: -124px;
        transform: translateX(-50%);
        width: 250px;
        height: 115px;
        background-color:rgba(255, 255, 255, 0.356);
        box-shadow: 5px 5px 5px rgb(207, 204, 204);;
        padding: 9px;
    }
    &__addr {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
    }
    &__phone {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #1a73e8;
        cursor: pointer;
    }

}


