
h1 {
    color: rgb(65, 90, 235);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 25px;
    background-color: fill="white";
    &__left-block {
        display: flex;
        justify-content: space-between;
        width: 150px;
    }
    &__logo {
        width: 250px;

    }
    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 700px;
    }
    &__drop {
        width: 90px;
        font-weight: bold;
        font-size: 18px;
        color: rgba(227, 247, 52,0.8);
        transition: 0.5s all;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 0%;
            bottom: -5px;
            z-index: -1;
            height: 3px;
            background: $red;
            transition: 0.5s all;
        }
        &:hover {
            color: $red;
            &:after {
                width: 100%;
            }

            
        }
        &:before {
            content: '';
            position: absolute;
            border: solid #303030;
            border-width: 0 2px 2px 0;
            display: block;
            padding: 3px;
            transform: rotate(45deg);
            bottom: 7px;
            right: -16px;
            z-index: -1;
            color: rgba(227, 247, 52,0.8);
        }
    }
    &__drop-a {
        font-weight: bold;
        font-size: 18px;
        width: 90px;
        height: 40px;
        text-align: left;
        padding-top: 20px;
        transition: 0.2s all;
        color: rgba(227, 247, 52,0.8);
        &:hover {
            color: rgba(227, 247, 52,0.8);
            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                bottom: -1px;
                z-index: -1;
                height: 2px;
                background: $red;
            }
        }
    } 
    &__link-active {
        position: relative;
        margin-right: 80px;
        font-weight: bold;
        font-size: 18px;
        color: rgba(236, 97, 108,0.8);
    }
    &__link {
        position: relative;
        font-weight: bold;
        font-size: 18px;
        transition: 0.5s all;
        color: rgba(227, 247, 52,0.8);
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 0%;
            bottom: -5px;
            z-index: -1;
            height: 3px;
            background: $red;
            transition: 0.5s all;
        }
        &:hover {
            color: $red;
            &:before {
                width: 100%;
            }
        }
        &:nth-child(8) {
            &::before {
                content: '';
                position: absolute;
                border: solid #303030;
                border-width: 0 2px 2px 0;
                display: block;
                padding: 3px;
                transform: rotate(45deg);
                bottom: 7px;
                right: -12px;
                z-index: -1;
            }    
            &:hover {
                color:rgb(193, 228, 36);
            }
        }
        i {
            color: $dark;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

