.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s all;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }
    &__block {
        position: relative;
        width: 25%;
        height: 100%;
        background-color: rgba(236, 97, 108, .8);
        z-index: 10;
    }
    &__close {
        position: absolute;
        font-size: 61px;
        top: 3px;
        right: 5%;
        cursor: pointer;
    }
    nav {
        width: 80%;
        height: 100%;
        margin: 0 10% 0 10%;
    }
    &__list {
        list-style-type: none;
        padding: 35% 0 0 20px;
    }
    
    &__link {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 18px;
        a {
            color: rgb(200, 226, 51);
            text-decoration: none;
        }
        &:before {
            content: '';
            position: absolute;
            top: 17px;
            left: -30px;
            width: 20px;
            height: 6px;
            border-radius: 22%;
            transition: 0.5s all;
        }
        &:hover {
            &:before {
                background-color: rgb(200, 226, 51);
            }
        }
    }


    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #fff;
        opacity: 0.5;
    }
}