* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
  outline: none;
}

.btn_header {
  background-color: #fff;
  height: 40px;
}

.btn_dark {
  background-color: red;
  color: #fff;
  border: none;
}

.btn_min {
  height: 50px;
}

.btn:hover {
  color: black;
  border: 2px solid #09186b;
  background-color: #415aeb;
}

.main {
  height: 2000px;
  background-color: rgba(65, 90, 235, 0.2);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
  width: 330px;
  height: 1px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 36px;
  font-weight: 400;
}

h1 {
  color: #415aeb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  background-color: rgba(70, 88, 192, 0.15);
}

.header__left-block {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}

.header__logo {
  width: 250px;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__drop {
  width: 90px;
  font-weight: bold;
  font-size: 18px;
  color: #303030;
  transition: 0.2s all;
}

.header__drop:hover {
  color: #415aeb;
}

.header__drop:hover:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: -1px;
  z-index: -1;
  height: 2px;
  background: red;
}

.header__drop-a {
  font-weight: bold;
  font-size: 18px;
  color: #303030;
  width: 90px;
  height: 40px;
  text-align: left;
  padding-top: 20px;
  transition: 0.2s all;
  color: #415aeb;
}

.header__drop-a:hover {
  color: #415aeb;
}

.header__drop-a:hover:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: -1px;
  z-index: -1;
  height: 2px;
  background: red;
}

.header__link {
  position: relative;
  margin-right: 85px;
  font-weight: bold;
  font-size: 18px;
  color: #303030;
  transition: 0.2s all;
}

.header__link i {
  color: #303030;
}

.header__link:nth-child(4)::before {
  content: '';
  position: absolute;
  border: solid #303030;
  border-width: 0 2px 2px 0;
  display: block;
  padding: 3px;
  transform: rotate(45deg);
  bottom: 7px;
  right: -12px;
  z-index: -1;
}

.header__link:nth-child(4):hover {
  color: #c1e424;
}

.header__link:hover {
  color: #415aeb;
}

.header__link:hover:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: -1px;
  z-index: -1;
  height: 2px;
  background: red;
}

.header__link:last-child {
  margin-right: 0;
}

.menu {
  display: flex;
}

.menu li {
  width: 63px;
  list-style: none;
  position: relative;
}

.menu a {
  text-decoration: none;
  display: block;
}

.menu ul {
  position: absolute;
  display: none;
}

.menu li:hover ul {
  display: block;
}

.sticky {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #b0b8e6, #71779b);
}
/*# sourceMappingURL=style.css.map */