* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  width: 220px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;
  outline: none;
}

.btn_header {
  background-color: #fff;
  height: 40px;
}

.btn_dark {
  background-color: red;
  color: #fff;
  border: none;
}

.btn_min {
  height: 50px;
}

.btn:hover {
  color: black;
  border: 2px solid #09186b;
  background-color: #415aeb;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  font-weight: 400;
}

hr {
  margin: 0 auto;
  width: 30%;
  margin-top: 20px;
  height: 5px;
  border: none;
  background-color: aqua;
}

h1 {
  color: #415aeb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  background-color: rgba(70, 88, 192, 0.15);
}

.header__left-block {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}

.header__logo {
  width: 250px;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__drop {
  width: 90px;
  font-weight: bold;
  font-size: 18px;
  color: rgba(227, 247, 52, 0.8);
  transition: 0.2s all;
}

.header__drop:hover {
  color: rgba(236, 97, 108, 0.8);
}

.header__drop:hover:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: -1px;
  z-index: -1;
  height: 2px;
  background: red;
}

.header__drop-a {
  font-weight: bold;
  font-size: 18px;
  width: 90px;
  height: 40px;
  text-align: left;
  padding-top: 20px;
  transition: 0.2s all;
  color: rgba(227, 247, 52, 0.8);
}

.header__drop-a:hover {
  color: rgba(227, 247, 52, 0.8);
}

.header__drop-a:hover:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: -1px;
  z-index: -1;
  height: 2px;
  background: red;
}

.header__link {
  position: relative;
  margin-right: 85px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s all;
  color: rgba(227, 247, 52, 0.8);
}

.header__link i {
  color: #303030;
}

.header__link:nth-child(4)::before {
  content: '';
  position: absolute;
  border: solid #303030;
  border-width: 0 2px 2px 0;
  display: block;
  padding: 3px;
  transform: rotate(45deg);
  bottom: 7px;
  right: -12px;
  z-index: -1;
}

.header__link:nth-child(4):hover {
  color: #c1e424;
}

.header__link:hover {
  color: rgba(236, 97, 108, 0.8);
}

.header__link:hover:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: -1px;
  z-index: -1;
  height: 2px;
  background: red;
}

.header__link:last-child {
  margin-right: 0;
}

.menu {
  display: flex;
}

.menu li {
  width: 63px;
  list-style: none;
  position: relative;
}

.menu a {
  text-decoration: none;
  display: block;
}

.menu ul {
  position: absolute;
  display: none;
}

.menu li:hover ul {
  display: block;
}

.sticky {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #b0b8e6, #71779b);
}

.promo {
  min-height: 881px;
  background: url("/src/img/road.jpg") center center/cover no-repeat;
}

.promo h2 {
  font-size: 70px;
  text-align: center;
  padding-top: 135px;
  color: rgba(227, 247, 52, 0.8);
}

.promo h3 {
  font-size: 50px;
  text-align: center;
  padding-top: 150px;
  color: #ec616c;
}

.wrapper {
  min-height: 600px;
}

.divider {
  height: 150px;
  color: white;
  padding: 50px 0px 50px 0px;
}

.divider__stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.aboutAs__wrp {
  height: 600px;
  display: flex;
}

.aboutAs__item1 {
  height: 600px;
  width: 50%;
  background: url("/src/scss/blocks/main/aboutAs/2020-scania.jpg") center center/cover no-repeat;
}

.aboutAs__item2 {
  height: 600px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutAs__box {
  height: 300px;
  width: 300px;
}

.aboutAs__header {
  font-size: 40px;
  text-align: center;
}

.aboutAs__descr {
  font-size: 28px;
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
}

.service {
  background: linear-gradient(to right, #e2e5f3, #bec1d3);
}

.service__wrp {
  height: 1200px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
}

.service__item {
  height: 400px;
  width: 600px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__item-box {
  height: 150px;
  width: 250px;
  text-align: center;
}

.service__item-box h2 {
  font-size: 40px;
}

.service__item-box h3 {
  margin-top: 20px;
  font-weight: normal;
  font-size: 28px;
}

.service .one {
  background: url("/src/scss/blocks/main/service/spedition.jpg") center center/cover no-repeat;
}

.service .four {
  background: url("/src/scss/blocks/main/service/clear.png") center center/cover no-repeat;
}

.service .five {
  background: url("/src/scss/blocks/main/service/drive.jpg") center center/cover no-repeat;
}

.benefits {
  background: linear-gradient(to right, #e2e5f3, #bec1d3);
}

.benefits__wrp {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.benefits__item {
  height: 150px;
  width: 400px;
  text-align: center;
  border: 3px solid rgba(70, 88, 192, 0.15);
  border-radius: 25px;
  background-color: #fff;
}

.benefits__item img {
  margin-top: 10px;
}

.benefits h4 {
  margin-top: 20px;
}

.consultation {
  background: url("/src/img/road_2.jpg") center center/cover no-repeat;
  height: 400px;
}

.consultation__title {
  color: #FFFFFF;
  padding: 10px 0 20px 0px;
}

.consultation__descr {
  color: #FFFFFF;
  padding: 0 0 20px 0;
}

.feed-form {
  display: flex;
  flex-direction: column;
  width: 303px;
}

.feed-form input {
  height: 54px;
  background: #FFFFFF;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */