.aboutAs {
    &__wrp {
        height: 500px;
        padding: 0 20px 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    &__item1 {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__box {
        height: auto;
        min-width: 250px;
    }
    &__header {
        font-size: 40px;
        text-align: center;
    }
    &__descr {
        font-size: 28px;
        font-weight: normal;
        margin-top: 20px;
        text-align: center;
    }






    &__sliderJS-wrapper {
        position: relative;
    }
    &__sliderJS-counter {
        position: absolute;
        margin-top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__sliderJS-prev {
        position: absolute;
        left: -45px;
        top: -3px;
        cursor: pointer;
    }
    &__sliderJS-next {
        position: absolute;
        right: -42px;
        top: -1px;
        cursor: pointer;
    }
    &__indicators {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 300px;
        height: 20px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25px;
        list-style: none;
    }
    
    #current { 
        font-size: 20px;
        font-weight: bold;
        color: aqua;
    }
    #total {
        color: aqua;
    }

    #line {
        font-size: 20px;
        color: aqua;
    }
    
}