

// от 992 до 1200
@media (max-width: 1200px) {  
    .container {
        max-width: 960px;  
    }
    .header {
        display: none;
    }
    .promotion {
        &__timer {
            .timer {
                padding-left: 25px;
            }
        }
    }
    .footer {
        &__wrapper {
            flex-direction: column;
        }
        &__descr {
            margin: 0 auto;
            width: 100%;
            
        }
        h2 {
            padding-top: 5px;
        }
    }
    
}



// от 768 до 992
@media (max-width: 992px) { 
    .container {
        max-width: 720px;  
    }
    .promo {
        h3 {
            font-size: 40px;
        }
    }
    .sidebar {
        &__list {
            padding: 40% 0 0 5px;
        }
    }
    .myslider {
        &__upslider {
            width: 300px;
        }
    }
    .aboutAs {
        &__wrp {
            height: auto;
            padding: 0 20px 0 20px;
            display: grid;
            grid-template: 300px 225px / 1fr;
            gap: 50px;
        }
    }
    .service {
        &__item {
            height: 300px;
        }
    }
    .interactive {
        &__left {
            width: 45%;
        }
        &__right {
            width: 45%;
        }
    }
    .calculating {
        &__choose_big {
            width: 95%;
        }
    }
    .promotion {
        &__timer {
            .timer {
                padding-left: 5px;
            }
            .timer__block {
                width: 85px;
                span {
                    font-size: 45px;
                }
            }
        }
    }
    .footer {
        &__map {
            display: none;
        }
        &__map-min {
            display: block;
            margin: 0 auto;
            padding: 20px 0 20px 0;
        }
    }
}


// от 576 до 768
@media (max-width: 768px) { 
    .container {
        max-width: 540px;   
    }
    .promo {
        h2 {
            font-size: 60px;
        }
        h3 {
            font-size: 30px;
        }
    }
    .sidebar{
        &__block {
            width: 33%;
        }
    }
    .aboutAs {
        &___wrp {
            height: auto;
        }
    }
    .service {
        &__item {
            height: 270px;
        }
        &__item-box {
            h2 {
                font-size: 30px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }
    .benefits {
        &__l-box {
            width: 70%;
        }
    }
    .calculating {
        &__choose_big {
            flex-direction: column;
            align-items: center;
        }
        
    }
    .promotion {
        &__timer {
            .timer {
                padding-left: 5px;
            }
            .timer__block {
                width: 55px;
                height: 75px;
                font-size: 10px;
                margin-bottom: 0px;
                span {
                    font-size: 30px;
                }
            }
        }
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}




// от 320 до 576
@media (max-width: 576px) {  
    .container {
        width: 100%;  
        padding: 0 10px; 
    }
    .promo {
        h2 {
            font-size: 33px;
        }
        h3 {
            font-size: 20px;
        }
    }
    .sidebar{
        &__block {
            width: 50%;
        }
        &__link {
            a {
                font-size: 20px;
            }
        }
    }
    .aboutAs {
        &__descr {
            font-size: 20px;
        }
    }
    .service {
        &__item {
            height: 270px;
        }
    }
    .benefits {
        &__wrp {
            display:flex;
            flex-direction: column;
            gap: 50px;

        }
        &__menu {
            flex-direction: row;
            width: 100%;
            height: 100px;
        }
        &__l-box {
            width: 100%;

        }
    }
    .interactive {
        &__wrapper {
            display: flex;
            flex-direction: column;
            height: 650px;
            padding: 0 20px 0 20px;
        }
        &__left {
            width: 100%;
        }
        &__right {
            width: 100%;
        }
    }
    .promotion {
        .container {
            display: block;
        }
        &__text {
            width: 100%;
        }
        &__timer {
            width: 100%;
            padding-top: 15px;
            .timer {
                margin-top: 20px;
                display: flex;
                justify-content: space-around;
            }
        }
        .bgc_y {
            width: 70%;
            height: 100%;
        }
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-elem {
        font-size: 21px;
    }
    .basement {
        &__logo {
            display: none;
        }
        &__made {
            font-size: 13px;
        }
    }
}